version: "3.9"
services:
  backend:
    build: ./backend
    container_name: elevateu-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    restart: always

  frontend:
    build: ./frontend
    container_name: elevateu-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    restart: always