name: Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Azure VM via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          script: |
            cd ~/ElevateU
            git pull

            sudo docker stop elevateu-container || true
            sudo docker rm elevateu-container || true
            sudo docker image prune -a -f

            sudo docker build -t elevateu .
            sudo docker run -d -p 5000:5000 --name elevateu-container elevateu:latest